
/* Navigation section */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding-bottom: 8px;
    padding: 0px 7px;
    /* margin-top: 4px; */
}

/* Home Section */
#home{
    height: 370px;
    padding: 3px 28px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* Services Section */

#services{
    flex-direction: column;

}
#services .box{
    margin: 2px 0px;
    padding: 14px;
    margin-bottom: 20px;
}

/* Client Section */
#client{
    flex-wrap: wrap;
}
#client img{
    width: 66px;
    padding: 6px;
    height: auto;
    /* margin: -41px 4px; */
}
/* #client::before{
    height: 111%;
} */


/* Contact Us Section */
#contact-box form{
    width: 80%;
    /* margin-left: 41px; */
}

/* footer */

/* utility class */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}